.sidebar{
    height: calc(100vh - 50px);
    background-color: rgb(172, 163, 163);
    position: fixed;
    min-width: 15%;
}

.sidebarWrapper{
    padding: 20px;
    color: rgb(24, 20, 20);
    font-family: bold;
}

.sidebarLists{
    list-style: none;
    padding: 10px;

}