:root{
    --dark: #4a4b53;
    --light: #494242;
--border: #0000;
--border-btn: #5212;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


form{
    margin-top: 20px;
}

.admin{
    margin-right: 40px;
    background-color:rgb(232, 228, 236);
    margin-top: 35px;
    border-radius: 10px;
    border: 10px solid #ece7e7e5
}


.border-shadow{
    box-shadow: 5px 10px 20px #df7474;
}


table{
    border-spacing: 0px;
    width: 100%;
}

.thead-color{
    background-color: rgb(172, 163, 163);
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
} 

.table tr:hover{
    background-color:rgb(247, 239, 239);
}
